@font-face {
	font-family:RSU;
	src: url(../fonts/RSU_Regular.ttf);
}

@font-face {
	font-family:KeepCalm;
	src: url(../fonts/KeepCalm-Medium.ttf);
}

body {
  background:linear-gradient(#037289,#5e4a88, #5e4a88,#0099b9);
	/* background-repeat: no-repeat; */
	/* height:100vh; */
	min-height: 100vh;
  font-family: sans-serif;
	position: relative;
	overflow: hidden;
}

h1,h2,h3,h4,h4,h5 {
	font-family:"KeepCalm",sans-serif;
}

h1 {
	font-size: 54px;
}

p{
	font-family:"RSU",sans-serif;
	color: #fff;
	font-size: 18px;
}

.particle-backdrop {
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	position: absolute;
	z-index: -99;
	overflow: hidden;
}

.cloud-zone {
	width: 100%;
	height: 300px;
	position: absolute;
	bottom: 0px;
	z-index: -9;
	overflow: hidden;
}

.cloud{
	position: absolute;
	height: 500px;
	width: 1000px;
	background: url(../img/cloud.svg) no-repeat;
}

.cloud-1 {
		opacity: 0.1;
	animation-duration: 3s;
 animation-name: cloud-animation;
 animation-iteration-count: infinite;
-moz-animation-iteration-count: infinite;
-webkit-animation-iteration-count: infinite;
-o-animation-iteration-count: infinite;
animation-direction: alternate;
}

.cloud-2 {
left: -15%;
	opacity: 0.3;
animation-duration: 9s;
 animation-name: cloud-animation;
 animation-iteration-count: infinite;
-moz-animation-iteration-count: infinite;
-webkit-animation-iteration-count: infinite;
-o-animation-iteration-count: infinite;
animation-direction: alternate;
}

.cloud-3 {
opacity: 0.2;
left: 50%;
animation-duration: 4s;
 animation-name: cloud-animation;
 animation-iteration-count: infinite;
-moz-animation-iteration-count: infinite;
-webkit-animation-iteration-count: infinite;
-o-animation-iteration-count: infinite;
animation-direction: alternate;
}

.cloud-4 {
opacity: 0.4;
left: 20%;
animation-duration: 4s;
 animation-name: cloud-animation;
 animation-iteration-count: infinite;
-moz-animation-iteration-count: infinite;
-webkit-animation-iteration-count: infinite;
-o-animation-iteration-count: infinite;
animation-direction: alternate;
}

.cloud-5 {
opacity: 0.5;
left: 80%;
animation-duration: 4s;
 animation-name: cloud-animation;
 animation-iteration-count: infinite;
-moz-animation-iteration-count: infinite;
-webkit-animation-iteration-count: infinite;
-o-animation-iteration-count: infinite;
animation-direction: alternate;
}

.cloud-6 {
opacity: 0.1;
left: 40%;
animation-duration: 3s;
 animation-name: cloud-animation;
 animation-iteration-count: infinite;
-moz-animation-iteration-count: infinite;
-webkit-animation-iteration-count: infinite;
-o-animation-iteration-count: infinite;
animation-direction: alternate;
}


@keyframes cloud-animation {
  from {
		transform: translateY(2%);
    width: 300%;
  }

  to {
    transform: translateY(0%);
    width: 100%;
  }
}
